*{
  margin: 0;
  box-sizing: border-box;
}

html, body, #app{
  min-height: 100%;
  width: 100%;
  background-color: #1fc3cc; /*  For browsers that do not support gradients */
  background: linear-gradient(#1fd0be, #20cbc1, #1fc3cc, #1cb9d6, #1baee0);
  background-repeat: no-repeat;
  background-size:cover;
  font-family: 'Nunito', sans-serif;
  color: #ffffff;
}

.margin40 {
  margin: 40px;
}

.margin10 {
  margin: 10px;
}

.marginBtm {
  margin-bottom: 15px;
}

.marginTop {
  margin-top: 15px;
}

.center {
  text-align: center;
}

/* flex styling */
.flex {
  display: flex
}

.flexCol {
  flex-direction: column;
}

.alignItemsTop {
  align-items: flex-start;
}

.alignItemsCenter {
  align-items: center;
}

.justifySpaceBetween {
  justify-content: space-between;
}

.justifyCenter {
  justify-content: center;
}

.flexWrap {
  flex-wrap: wrap;
}

.gap15 {
  gap: 15px
}

.gap25 {
  gap: 25px
}

/* color styling */

.lightBlue {
  color: #d5f8fe;
}

.darkBlue {
  color: #1baee0;
}

.lightGrey {
  color: #dadce4;
}

.darkGreen {
  color: #607d89;
}

.darkerGreen {
  color: #2a4a58
}

/* font size */
h1 {
  font-size: 4rem;
  font-weight: 700;
}
h2 {
  font-size: 2rem;
  font-weight: 500;
}
h3 {
  font-size: 1.5rem;
  font-weight: 500;
}
h4 {
  font-size: 1.25rem;
  font-weight: 500;
}
h5 {
  font-size: 1.125rem;
}
h6 {
  font-size: 1rem;
  font-weight: 400;
}
p {
  font-size: 1rem;
  font-weight: 400;
}

.bolder {
  font-weight: bolder;
}

.uppercase {
  text-transform: uppercase;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* nav section */
input:focus {
  outline: none;
}

input::placeholder {
  color: #d5f8fe;
}

input, button {
  border: 0px;
  background-color: transparent;
  color: #ffffff;
}

.search {
  border-bottom: 1px solid #d5f8fe;
  width: 70%;
}

.toggleButton {
  width: 10%;
  min-width: 60px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 5px;
  font-weight: 600;
  color: #747474;
}

.toggleButton:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

a {
  margin: 0 10px;
}

/* results section */

.overview {
  border-bottom: 1px solid #d5f8fe;
  padding-bottom: 60px;
}

.summaryContainer {
  width: 20%;
}


.locationIcon {
  font-size: 20px;
  margin-right: 10px;
}

.arrowBtn {
  width: 10px;
  height: 10px;
}

.arrowBtn:hover {
  width: 15px;
  height: 15px;
}

.caurosel {
  width: 695px;
  height: 153px;
  overflow: hidden;
  position: relative;
}

.hourlyCards {
  position: absolute;
  top: 0;
  transition: all 1s linear;
}

.hourlySubCard {
  border: 0.5px solid #ffffff;
  border-radius: 30px;
  width: 65px;
  padding: 10px;
  background-color: #1d9596;
  color: #d5f8fe;
}

.currHourlySubCard {
  background-color: #a7e8ea;
  color: #2a4a58;
}

.description {
  padding-left: 40px;
  margin-top: 10px;
}

/* details section */

.detailsContainer {
  margin: 50px 0;
  width: 100%;
}

.detailCard {
  width: 240px;
  background-color: #ddf4f9;
  padding: 30px 20px;
  color: #2a4a58
}

/* forcast section */
.forcastCard {
  padding: 10px 30px;
  border: 0.5px solid #ffffff;
  border-radius: 30px;
  color: #d5f8fe;
  background-color: #1d9596;
}

.forcastCard:hover{
  position: relative;
  top: 10px;
  left: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

.currForcastCard {
  background-color: #a7e8ea;
  color: #2a4a58;
}

@media screen and (max-width: 480px) {
  .overview {
    flex-direction: column;
    gap: 50px;
  }

  .summaryContainer {
    width: 100%;
  }

  .detailCard {
    width: 100%;
  }

  .hourlyCard {
    gap: 5px;
  }

  .caurosel {
    width: 335px;
  }
  
}