*{
  margin: 0;
}

html, body, #app{
  height: 100%;
  width: 100%;
  background-color: #1fc3cc; /*  For browsers that do not support gradients */
  background-image: linear-gradient(#1fd0be, #20cbc1, #1fc3cc, #1cb9d6, #1baee0);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Nunito', sans-serif;
  color: #ffffff;
}

.margin40 {
  margin: 40px;
}

.margin10 {
  margin: 10px;
}

.center {
  text-align: center;
}

/* flex styling */
.flex {
  display: flex
}

.flexCol {
  flex-direction: column;
}

.alignItemsTop {
  align-items: flex-start;
}

.alignItemsCenter {
  align-items: center;
}

.justifySpaceBetween {
  justify-content: space-between;
}

.justifyCenter {
  justify-content: center;
}

.gap15 {
  gap: 15px
}

/* color styling */

.lightBlue {
  color: #d5f8fe;
}

.darkBlue {
  color: #1baee0;
}

.lightGrey {
  color: #dadce4;
}

/* font size */
h1 {
  font-size: 4rem;
  font-weight: 700;
}
h2 {
  font-size: 2rem;
  font-weight: 500;
}
h3 {
  font-size: 1.5rem;
  font-weight: 500;
}
h4 {
  font-size: 1.25rem;
  font-weight: 500;
}
h5 {
  font-size: 1.125rem;
}
h6 {
  font-size: 1rem;
  font-weight: 400;
}
p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 4px;
  margin-bottom: 12px;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* nav section */
input:focus {
  outline: none;
}

input::placeholder {
  color: #d5f8fe;
}

input, button {
  border: 0px;
  background-color: transparent;
  color: #ffffff;
}

.search {
  border-bottom: 1px solid #d5f8fe;
  width: 70%;
}

.toggleButton {
  width: 10%;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 5px;
  font-weight: 600;
  color: #747474;
}

.toggleButton:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

a {
  margin: 0 10px;
}

/* results section */

.overview {
  border-bottom: 1px solid #d5f8fe;
  padding-bottom: 60px;
}

.summaryContainer {
  width: 20%;
}

.weatherIcon {
  font-size: 80px;
  height: 80px;
}

.locationIcon {
  font-size: 20px;
  margin-right: 10px;
}